h4{
  font-weight: bold;
}

form{
  justify-content: center;
  flex-direction: row;
}

.form-row{
  justify-content: center;
  flex-direction: row;
  margin-bottom: .5rem;
}

.form-control{
  margin: 0vw;
  background-color: #ddd0bd;
  &::placeholder {
    // background-color: #ddd0bd !important;
    color: #42392c !important;
  }
}

.form-control:focus{
  box-shadow: none;
  // border: none;
  background-color: #5c52447a;
  color: #fff;
}

.input-group-text{
  // background-color: #5c52449a;
  // color: #42392c;
  background-color: #5c5244;
  color: #fff;
}

// #dobInputPrepend{
//   padding: 2vw;
//   margin: 0vw;
// }

#dobInputText{
  // padding: 30%;
}

.input-group{
  border: 1px solid #42392c;
  border-radius: 5px;
}

.mb-2{
margin-bottom: .5rem;
}

.my-2{
margin-bottom: .5rem;
}

#inlineFormInput{
margin-bottom: 0px;
}

.btn-primary{
  display: inline-flex;
  padding: 0.4vw 1.5vw;
  margin: 1vw;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'stencil';
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #42392c;
  color: #fff;
  background-color: #5c52447a;

  &:hover {
    background-color: #5c5244;
    border: 2px solid #42392c;
    color: #fff;
  }

  &:active {
    background-color: #5c5244;
    color: #fff;
  }
  &::after {
    background-color: #5c5244 !important;
    color: #fff !important;
  }
}

.alert-light{
color: #42392c;
background-color: #5c524436;
border: 3px solid #42392c;
width: 45vw;
}

.alertLink{
color: #ffffff !important;
}

.radio{
  margin-left: 1vw;
  margin-top: 0vh;
//  margin-right: 0vw !important;
  width: min-content;
}

#input-file{
  //margin-left: 22vw;
  width: min-content;
  border: 1px solid #42392c;
  ::placeholder{
    background-color: #ddd0bd;
  }
}

#file-upload-button{
  background-color: #5c5244 !important;
  color: #fff !important;
}

.kpkskh{
  margin-top: 0.75vh !important;
}

#dateInputCol{
  width: 270px;
}

#costummedDropdown{
  width: 220px;
  // color: black;
  font-weight: lighter;
  // background-color: #ffffff;
  margin:0px;
  border: none;
  :focus{
    box-shadow: 0px;
  }
  ::after{
    box-shadow: 0px;
  }
}