button{
    margin: 1vw;
}

.MatchmakerCard{
    font-family: 'stencil';
    font-weight: bold;
    width: 35vw;
    height: max-content;
    margin: 3vh;
    border: 2px solid #42392c;
    background-color: #5c52447a;
    color: #ffffff;
}